<div class="card">
    <div class="card-header pb-0">
        <h5 class="card-title mb-0">Filter</h5>
    </div>
    <div class="card-body">
        <input type="text" class="form-control" (keyup)="onChange($event,'RestaurantName')" placeholder="Search By Restaurant Name"/>
        <input type="text" class="form-control" (keyup)="onChange($event,'RestaurantTiming')" placeholder="Search By Day"/>
        <input type="text" class="form-control" (keyup)="onChange($event,'RestaurantTiming')" placeholder="Search By Time"/>
    </div>
</div>